In [61]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd

In [62]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [63]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [64]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [65]:
#print(soup.prettify())

# NASA Mars News

In [66]:
# results = soup.select_one('ul.item_list li.slide')
# news_title = results.find('div', class_="content_title").text
# news_p = results.find('div', class_="article_teaser_body").text
# print(news_title)
# print(news_p)

title_results = soup.find_all('div', class_='content_title')

par_results = soup.find_all('div', class_='article_teaser_body')

news_title = title_results[1].text
news_p = par_results[0].text

print(news_title)
print(news_p)

NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.

# JPL Mars Space Images - Featured Image

In [67]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [68]:
find_id = browser.find_by_id('full_image')

In [69]:
find_id.click()

In [70]:
browser.is_element_not_present_by_text('more info', wait_time=1)

True

In [71]:
more_info = browser.click_link_by_partial_text('more info')

/Users/himanimanglik/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [74]:
soup = BeautifulSoup(browser.html, 'html.parser')
results = soup.find('figure', class_='lede')
img_path = results.a['href']
featured_image_url = 'https://www.jpl.nasa.gov' + img_path
print(featured_image_url)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA19092_hires.jpg"><img alt="This mosaic of images from the navigation camera on the Rosetta spacecraft shows the nucleus of comet 67P/Churyumov-Gerasimenko." class="main_image" src="/spaceimages/images/largesize/PIA19092_hires.jpg" title="This mosaic of images from the navigation camera on the Rosetta spacecraft shows the nucleus of comet 67P/Churyumov-Gerasimenko."/></a>
</figure>
https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19092_hires.jpg

# Mars Facts

In [15]:
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
type(tables)

list

In [17]:
df = tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
!open table.html

# Mars Hemispheres

In [39]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [40]:
browser.visit(url)

In [41]:
soup = BeautifulSoup(browser.html, 'html.parser')

find_items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

default_url = 'https://astrogeology.usgs.gov'

for i in find_items: 
    
    title = i.find('h3').text
    
    specific_url = i.find('a', class_='itemLink product-item')['href']
    
    browser.visit(default_url + specific_url)
    
    soup = BeautifulSoup(browser.html, 'html.parser')

    img_url = default_url + soup.find('img', class_='wide-image')['src']
    
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})    

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]